body{
    background-color: rgb(14, 16, 20);
}

header{
    background-color: rgb(24, 26, 32);
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 10px;
    align-items: center;
    border-style: dotted;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

*{
    padding: 4px;
}